*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #e6e6e6;
  color: #404040;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.container {
  width: 100%;
  margin: 0 auto;
}

#main-banner {
  width: 900px;
  height: 250px;
  margin: 0 auto;
  background-image: url('../img/eye-banner-1.gif');
  background-repeat: no-repeat;
  position: relative;
}

#main-banner:hover {
  height: 400px;
}

#nav {
  position: absolute;
  top: 30px;
}

#nav a:hover {
  color: #dd3e16;
}

#main-banner ul li {
  display: inline-block;
  font-size: 14px;
  padding-right: 10px;
  color: #404040;
}


#main-banner a {
  text-decoration: none;
  color: #404040;
}

.logo {
  width: 300px;
  position: absolute;
  top: 100px;
  left: 40px;
}


.middle {
  background-color: white;
  overflow: auto;
  color: #404040;
}

#content {
  width: 900px;
  margin: auto;
  background-color: white;
  font-size: 16px;
  line-height: 23px;
}


#col-1 {
  width: 60%;
  padding: 20px;
  padding-left: 35px;
  float: left;
}

#col-2 {
  width: 40%;
  padding: 20px;
  margin-top: 30px;
  float: left;
  height: 300px;
}

table {
  border: collapse;
  border: none;
}

.circle {
	border-radius: 50%;
	width: 90px;
	height: 90px;
  margin: 10px;
}

#c1 {
  background-color: #2a68a8;
}

#c1:hover {
  background-image: url('../img/blue.png');
  background-size: 125%;
  background-position: 50%;
}

#c2 {
  background-color: #874727;
}

#c2:hover {
  background-image: url('../img/green.png');
  background-size: 220%;
  background-position: 50%;
}

#c3 {
  background-color: #537a73;
}

#c3:hover {
  background-image: url('../img/brown.png');
  background-size: 250%;
  background-position: 50% 60%;
}

#c4 {
  background-color: white;
  position: relative;
}

#c4 a {
  color: #dd3e16;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  padding-left: 24px;
  position: absolute;
  font-size: 20px;
}


#c4:hover {
  background-color: white;
  position: relative;
  color: #ffffff;
  background-color: #f2f2f2;
}

#c4 a:hover {
  color: #dd3e16;
}


#footer {
  padding: 10px 20px 20px 20px;
  margin: auto;
  background-color: white;
  text-align: center;
  clear: both;
  font-size: 14px;
  color: #a0a0a0;
}

#footer li {
  display: inline;
  list-style-type: none;
  margin-left: 0px;
  padding: 0px 10px;
  font-size: 20px;

}

#footer ul {
    -webkit-margin-start: -40px;
}

#footer a {
  color: #404040;
  font-size: 20px;
}

#footer a:hover {
  color: #2b89c4;
}

/*Styles for gallery page*/

.middle-gal {
  background-color: #fff;
  overflow: auto;
  /*height: 500px;*/
  /*background-color: #e6e6e6;*/
}

#col-B, #col-C {
  width: 250px;
  float: left;
  padding: 0px;
  margin-bottom: 0px;
}

#col-B img, #col-C img {
  max-width: 100%;
  opacity: 0.5;
}


#col-B img:hover, #col-C img:hover {
  opacity: 1;
  filter: none;
}

#col-A {
  width: 40%;
  float: left;
  padding-left: 50px;
  padding-right:50px;
  padding-top: 40px;
  color: #404040;
}

#col-A p::after {
  content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non efficitur odio. Nullam fringilla leo purus, vel gravida enim consectetur at. Nam maximus, nunc non vehicula lacinia, tellus nunc ullamcorper ante, aliquet aliquam sem magna quis dui. Aenean malesuada interdum mollis. Nam maximus, nunc non vehicula lacinia, tellus nunc ullamcorper ante, aliquet aliquam sem magna quis dui. Aenean malesuada interdum mollis.";
}

.btn {
  background-color: #404040;
  color: white;
  width: 110px;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: #dd3e16;
}

input {
  height: 30px;
  width: 200px;
}
